@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap')

$background-color: #ffffff;
$grey-900: #48556A;
$grey-500: #6e8098;
$grey-400: #9daec2;
$grey-200: #ecf2f8;
$font-stack: Manrope, sans-serif;


body 
    background-color: $grey-200;
    font: 100% $font-stack;

main
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    padding: 2rem;
    border-radius: 10px;

h1
    font-size: 20px;
    font-weight: 700;
    color: $grey-900;

.description
    font-size: 13px;
    color: $grey-500;
    letter-spacing: 0.012em;

.name
    color: $grey-900;

.date
    color: $grey-400;