@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap')

$background-color: #ffffff;
$grey-900: #48556A;
$grey-500: #6e8098;
$grey-400: #9daec2;
$grey-200: #ecf2f8;
$font-stack: Manrope, sans-serif;


body 
    background-color: $grey-200;
